@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Card>

@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="~/img/imagem.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.CANome</h5>
                <p class="card-text">@item.CADescricaoP</p>
                <div style="display: flex; justify-content: space-between; ">
                    <a href="/Destinos/Descricao/@item.CAID" class="btn btn-primary">Viajar</a>
                    @if (item.favorito == 0)
                    {

                        <a href="/Destinos/Favoritar/@item.CAID"> <img class="favorito_false" src="~/img/favorito (1).png" /></a>
                    }
                    else
                    {

                        <a href="/Destinos/Favoritar/@item.CAID"> <img src="~/img/favorito (2).png" /></a>
                    }


                </div>



            </div>
        </div>
    }
}
else
{
    <p>Nenhum resultado encontrado.</p>
}