@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Turismo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
        .card{
            margin-bottom:10px;
        }
    </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg " style="background-color:rgba(45,136,253,1); color:white;">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="color:white; font-weight:bold;">Explora Tour</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">

                    <a class="nav-link" asp-controller="Home" asp-action="Index" style="color:white; display:flex;">
                        <img style="width:22px;" src="~/img/casa (1).png" />
                        <span>&nbsp;Início</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Destinos" asp-action="Index" style="color:white;">
                        <img style="width:22px;" src="~/img/mapas-e-bandeiras.png" />
                        <span>&nbsp;Destinos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Favoritos" asp-action="Index" style="color:white;">
                        <img style="width:22px;" src="~/img/favorito.png" />
                        <span>&nbsp;Favoritos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Cadastro" asp-action="Cadastrar" style="color:white;">
                        <img style="width:22px;" src="~/img/pessoa.png" />
                        <span>&nbsp;Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div data-aos="fade-up" style="display:flex; flex-direction:column; justify-content: center; align-content: center; align-items: center;">
        <div style="width:80%;">
            <h1 style="margin-top:45px; font-weight:bold;">Destinos</h1>
            <span>0 Itens</span>
        </div>
    </div>

    <div data-aos="fade-up" style="width: 100%; display: flex; align-content: center; align-items: center; justify-content: center; margin-top:10px;">
        <div style="width:80%;  display: grid;  grid-template-columns: repeat(3, 1fr); grid-column-gap: 10px; grid-row-gap: 1.2em;">
            <div class="card" style="width: 18rem;">
                <img src="~/img/imagem.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Escolha seu Destino Favorito</h5>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/imagem.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Escolha seu Destino Favorito</h5>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/imagem.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Escolha seu Destino Favorito</h5>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/imagem.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Escolha seu Destino Favorito</h5>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
    </body>
    <script>
    AOS.init();
</script>
</html>