@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Turismo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
@*    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>*@
</head>
<body>

    <h1>CAVALO</h1>
    <!-- Carrossel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

        <!-- Controles do Carrossel -->
        <a style="height: 40%;margin-top:140px;" class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a style="height: 40%;margin-top:140px;" class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <div class="whatsapp-float">
        <a href="contato.html" target="_blank" rel="noopener noreferrer">
            <div class="whatsapp-icon">
                <img src="file:///C:/Users/android/Downloads/pngtree-telephone-vector-icon-with-circle-frame-png-image_2453561.jpg" alt="Ícone do WhatsApp">
            </div>
        </a>
    </div>


</body>

<!-- Scripts do Bootstrap -->





</html>


