

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Adicione seus estilos personalizados aqui */
body, html {
    font-family: Arial, sans-serif;
     /* Adicione essa propriedade para posicionamento relativo */
    height:100%;
    width:100%;
    border:0;
    margin:0;

}

button {
    padding: 10px 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

a {
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

/* Estilos para as imagens dentro do carrossel */
.carousel-item img {
    max-width: 100%;
    height: auto;
}

.whatsapp-icon {
    font-size: 24px;
    color: white;
    background-color: green;
    border-radius: 50%;
    width: 40px; /* Largura e altura para tornar o ícone redondo */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

/* Estilos para o ícone flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Estilos para o ícone do WhatsApp menor */
.whatsapp-icon img {
    width: 100%; /* Garante que a imagem do ícone se ajuste ao tamanho do elemento */
    height: 100%;
    border-radius: 50%;
}



.navbar {
    background-color: #333;
    overflow: hidden;
}

    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .navbar a:hover {

            color: black;
        }

.content {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.nav-link:hover {
    border-bottom: solid 2px rgba(82,215,246,1);
    font-weight:bold;
    transform:scale(1.1);
    animation:ease-in-out;
}
